@font-face {
  font-family: "Futura-Light";
  src: url("../fonts/Futura-Light.otf") format("opentype");
}

@font-face {
  font-family: "Luxia";
  src: url("../fonts/Luxia-Regular.otf") format("opentype");
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
}

body {
  font-family: "Futura-Light";
  background-color: #292827;
  color: #f3f3f3;
}

body header {
  font-size: 16px;
  font-weight: bold;
}

body header nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #161610;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #424242;
}

body header nav a {
  text-decoration: none;
  color: #f3f3f3;
  width: 100%;
  text-align: center;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header nav a:hover {
  color: #0c95f0;
  background-color: #424242;
}

body header .message {
  color: yellow;
  text-align: center;
  margin-top: 49px;
  text-decoration: underline;
  font-size: 24px;
}

body main {
  margin-top: 90px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

body main .top {
  border-bottom: 2px solid #0c95f0;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  body main .top {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 992px) {
  body main .top {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

body main .top h1 {
  color: #0c95f0;
  font-size: 45px;
  font-family: "Luxia";
}

body main .top p {
  display: none;
}

@media only screen and (min-width: 600px) {
  body main .top p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body main .top .bandeau {
  display: none;
}

@media only screen and (min-width: 992px) {
  body main .top .bandeau {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    width: 100%;
  }
}

body main .top .bandeau img {
  overflow: hidden;
}

body main .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media only screen and (min-width: 600px) {
  body main .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
  }
}

body main .content .card {
  border: 2px solid #424242;
  padding: 2%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

@media only screen and (min-width: 600px) {
  body main .content .card {
    width: 40%;
    height: 320px;
  }
}

@media only screen and (min-width: 992px) {
  body main .content .card {
    width: 25%;
    height: 320px;
  }
}

body main .content .card h2 {
  font-family: "Luxia";
  font-size: 26px;
}

@media only screen and (min-width: 600px) {
  body main .content .card h2 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) {
  body main .content .card h2 {
    font-size: 18px;
  }
}

body main .content .card span {
  font-size: 24px;
}

body main .content .card img {
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

body main .content .card span {
  color: #0c95f0;
}

body main .content .card .btn {
  text-decoration: none;
  color: #f3f3f3;
  background-color: #0c95f0;
  border-radius: 6px;
  border: 2px solid #0c95f0;
  padding: 7px;
}

body main .content .card .btn:hover {
  background-color: #161610;
  border: 2px solid #0c95f0;
}

body main .content .card .delete {
  background-color: #c20000;
  border: 2px solid #c20000;
}

body main .content .card .delete:hover {
  background-color: #161610;
  border: 2px solid #c20000;
}

body main .show {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

body main .show h1 {
  color: #0c95f0;
  font-family: "Luxia";
}

body main .show .carousel {
  width: 60%;
}

body main .show .carousel .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
}

body main .show .carousel .slider img {
  max-width: 100%;
  display: none;
}

body main .show .carousel img.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fade 0.8s;
          animation: fade 0.8s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body main .show .carousel .cont-btn {
  width: 100%;
  border: 1px solid #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .show .carousel .cont-btn .btn-nav {
  font-size: 50px;
  margin: 0 120px;
  cursor: pointer;
}

body main .show .info {
  width: 100%;
  padding: 5px;
  border-bottom: 2px solid #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

body main .show .info span {
  color: #0c95f0;
  font-weight: bold;
}

body main .show .admin {
  width: 100%;
  padding-top: 20px;
  border-top: 2px solid #0c95f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

body main .show .admin h2 {
  font-size: 30px;
}

body main .show .admin a {
  text-decoration: none;
  color: #f3f3f3;
  background-color: #0c95f0;
  border-radius: 6px;
  border: 2px solid #0c95f0;
  padding: 7px;
  background-color: #c20000;
  border: 2px solid #c20000;
  text-align: center;
}

body main .show .admin a:hover {
  background-color: #161610;
  border: 2px solid #0c95f0;
  background-color: #161610;
  border: 2px solid #c20000;
}

body main .show .admin form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

body main .show .admin form input,
body main .show .admin form textarea,
body main .show .admin form select {
  background-color: #424242;
  color: #f3f3f3;
  padding: 3px;
  border-radius: 5px;
}

body main .show .admin form label {
  color: #0c95f0;
  font-size: 20px;
}

body main .show .admin form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

body main .show .admin form .btn {
  text-decoration: none;
  color: #f3f3f3;
  background-color: #0c95f0;
  border-radius: 6px;
  border: 2px solid #0c95f0;
  padding: 7px;
}

body main .show .admin form .btn:hover {
  background-color: #161610;
  border: 2px solid #0c95f0;
}

body main .show .admin .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: 100%;
}

body main .show .admin .images .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  max-width: 30%;
}

body main .show .admin .images .image a {
  text-decoration: none;
  color: #f3f3f3;
  background-color: #0c95f0;
  border-radius: 6px;
  border: 2px solid #0c95f0;
  padding: 7px;
  background-color: #c20000;
  border: 2px solid #c20000;
  width: 80px;
  text-align: center;
}

body main .show .admin .images .image .a:hover {
  background-color: #161610;
  border: 2px solid #0c95f0;
  background-color: #161610;
  border: 2px solid #c20000;
}

body main .login h1 {
  color: #0c95f0;
  font-size: 45px;
  text-align: center;
}

body main .login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

body main .login form label {
  color: #0c95f0;
  font-size: 20px;
}

body main .login form input,
body main .login form textarea,
body main .login form select {
  background-color: #424242;
  color: #f3f3f3;
  padding: 3px;
  border-radius: 5px;
}

body main .login form button {
  text-decoration: none;
  color: #f3f3f3;
  background-color: #0c95f0;
  border-radius: 6px;
  border: 2px solid #0c95f0;
  padding: 7px;
}

body main .login form button:hover {
  background-color: #161610;
  border: 2px solid #0c95f0;
}

body main .addArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 80%;
}

body main .addArticle h1 {
  color: #0c95f0;
  font-size: 36px;
  text-align: center;
}

body main .addArticle form {
  border: 2px solid #424242;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 100%;
}

body main .addArticle form p {
  font-size: 24px;
}

body main .addArticle form input,
body main .addArticle form textarea,
body main .addArticle form select {
  background-color: #424242;
  color: #f3f3f3;
  padding: 3px;
  border-radius: 5px;
}

body main .addArticle form .btn {
  text-decoration: none;
  color: #f3f3f3;
  background-color: #0c95f0;
  border-radius: 6px;
  border: 2px solid #0c95f0;
  padding: 7px;
}

body main .addArticle form .btn:hover {
  background-color: #161610;
  border: 2px solid #0c95f0;
}

body main .addArticle form label {
  color: #0c95f0;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */